################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CountTime!/FileContentIndex/3aa95374-0981-48a6-b650-187b89e01803.vsidx
/.vs/Movie-Catalog---A-Simple-MVVM-based-WPF-application-with-SQL-Database/FileContentIndex/06511534-c17e-4ad1-b84e-250e4381e81c.vsidx
/.vs/Movie-Catalog---A-Simple-MVVM-based-WPF-application-with-SQL-Database/FileContentIndex/32313dc2-348e-482e-aafb-f2dd7f8acedb.vsidx
/.vs/Movie-Catalog---A-Simple-MVVM-based-WPF-application-with-SQL-Database/FileContentIndex/4f8db487-a21c-44b9-9b3a-8fa38c09b263.vsidx
/.vs/Movie-Catalog---A-Simple-MVVM-based-WPF-application-with-SQL-Database/FileContentIndex/6c5be069-693a-4f96-ad0d-ab70d3899ff4.vsidx
/.vs/Movie-Catalog---A-Simple-MVVM-based-WPF-application-with-SQL-Database/FileContentIndex/6f348a2b-bdf9-44f7-a04a-111fbe21afff.vsidx
/.vs/Movie-Catalog---A-Simple-MVVM-based-WPF-application-with-SQL-Database/FileContentIndex/8ba0e323-64a7-48d6-a758-2ca5bd48382e.vsidx
/.vs/Movie-Catalog---A-Simple-MVVM-based-WPF-application-with-SQL-Database/FileContentIndex/a005bb1e-bdb0-48b9-a05a-1c50beae333c.vsidx
/.vs/Movie-Catalog---A-Simple-MVVM-based-WPF-application-with-SQL-Database/FileContentIndex/b85064ee-a1d3-4511-86f2-54e26ab299ef.vsidx
/.vs/Movie-Catalog---A-Simple-MVVM-based-WPF-application-with-SQL-Database/FileContentIndex/d7afff2b-74c3-4d1c-b794-3057e3bb5657.vsidx
/.vs/Movie-Catalog---A-Simple-MVVM-based-WPF-application-with-SQL-Database/FileContentIndex/e0988d39-5e79-49e9-ae5f-03a68774a1bd.vsidx
/.vs/CountTime!/FileContentIndex/3cd8a561-6002-4ab6-9e18-1955a441ecd1.vsidx
